<a href="https://colab.research.google.com/github/raulFuzita/cct_data_visualisation_communication/blob/CA1/DVC_CA_Marina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization and Communication CA

*Lecturer:* Marina

*Students*

.   Fatime Reisenleitner - id: 2020491 

.   Raul Macedo Fuzita - id: 2018337

##**1. Business Understanding:**

###**Objectives:**

Our team has decided to work in liason with the **healthcare** sector gathering their **global dataset** from **2020**, to investigate and provide information and possible advice regarding the Covid situation. This is a very relevant topic as the pandemic is still very much present in and effecting our daily lives.

###**Problem Domain**:
----------------------------------------------------------------------
> *Healthcare sector wishes to implement the best approach to dealing with the Covid situation and for this reason requested the analysis on Global cases.*
----------------------------------------------------------------------

###**Problem Motives:**
We wish to investigate:
* Which **Location** has proven to have a better handling of the situation (with **less deaths and cases**)
* Are there any **peaks during-after major Global festivities**? (Christmas, Black Friday, Valentine's day... Shopping/gathering)
* Has the situation **improved globally**?


##**2. Data Understanding:**

###**Data Collection:**

We acquired the **covid.csv** dataset from github (https://github.com/raulFuzita/cct_data_visualisation_communication/tree/CA1) which was kindly made available by the global healthcare sector. It contains....

#### Dataset Information

[Covid CSV File](https://corgis-edu.github.io/corgis/csv/covid/)

From the CORGIS Dataset Project

By Dennis Kafura, Melanie Sutphin, Joung Min Choi and Bo Guan
Version 2.0.0, created 10/22/2021
Tags: Covid, Covid-19, pandemic, infection, world health

##### Overview

The data set contains daily reports of Covid-19 cases and deaths in countries worldwide. The data also shows the countryâ€™s population and the number of cases per 100,000 people on a rolling 14 day average.

Samples were taken from `31/12/2019` to `14/12/2020`

####**Data Source:**
For our investigation we are using the **CSV** file format which is available at: https://data.europa.eu/euodp/en/data/dataset/covid-19-coronavirus-data

###**Data Description:**

To understand the data better we conducted several initial analysis on the data set. This is presented step-by-step below.

The least packages and data for the analysis

In [ ]:
import pandas as pd               # Pandas allows multi-dimensional arrays. It's usefull for machine learning, data analysis, and data science
import numpy as np                # Numpy provides function to work with arrays, domain of linear algebra, fourier transformation, and matrices (w3school, NumPy Introduction)
import matplotlib.pyplot as plt   # Matplotlib is a low level graph plotting library in python that serves as a visualization utility (w3school, Matplotlib Tutorial).

In [ ]:
# Importing the data set in CSV format and storing it in a object. DF stands for Data Frame.
df = pd.read_csv("https://corgis-edu.github.io/corgis/datasets/csv/covid/covid.csv")

Overview the

####**Data Size:**
We have decided to verify the data size to make sure we meet the requirements of our investigations, as well as to verify that our dataset is large enough to draw accurate conclusions.

The **Asessment Details** requires a minimum of 10 columns and a minimum of 1500 observations. The data set in question for this analysis, has 53629 observations and 10 columns.

In [ ]:
df.shape

(53629, 10)

As we have demonstrated the dataset is large enough for a reliable  investigations.

###**EDA:**

The `head` function shows the first five observations in a data set. It gives us an overview of the names of the variables and a rough idea of the data in it.

In [ ]:
df.head()

   Date.Day  Date.Month  ...  Location.Continent  Data.Rate
0        14          12  ...                Asia   9.013779
1        13          12  ...                Asia   7.052776
2        12          12  ...                Asia   6.868768
3        11          12  ...                Asia   7.134266
4        10          12  ...                Asia   6.968658

[5 rows x 10 columns]

The `info` function provides the type of each variable in the data set.

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53629 entries, 0 to 53628
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Date.Day            53629 non-null  int64
 1   Date.Month          53629 non-null  int64
 2   Date.Year           53629 non-null  int64
 3   Data.Cases          53629 non-null  int64
 4   Data.Deaths         53629 non-null  int64
 5   Location.Country    53629 non-null  object
 6   Location.Code       53545 non-null  object
 7   Data.Population     53629 non-null  int64
 8   Location.Continent  53629 non-null  object
 9   Data.Rate           53629 non-null  float64
dtypes: float64(1), int64(6), object(3)
memory usage: 4.1+ MB

The `describe` function plays an important role to start the first steps in the data preparation. Since it provides information such as, min/max, standard deviation, quartiles, and mean of each variables, it makes easier to spot outliers and perhaps unecessary data.

In [ ]:
df.describe()

           Date.Day    Date.Month  ...  Data.Population     Data.Rate
count  53629.000000  53629.000000  ...     5.362900e+04  53629.000000
mean      15.845009      6.406776  ...     4.164579e+07     44.382863
std        8.940220      2.600373  ...     1.548019e+08    113.147610
min        1.000000      1.000000  ...    -1.000000e+00   -147.419587
25%        8.000000      4.000000  ...     1.324820e+06      0.269203
50%       16.000000      7.000000  ...     7.813207e+06      4.652782
75%       24.000000      9.000000  ...     2.860872e+07     34.905448
max       31.000000     12.000000  ...     1.433784e+09   1900.836210

[8 rows x 7 columns]

###**Data Quality Analysis:**

In [50]:
cases2019 = df[df['Date.Year'] == 2019]
cases_deaths_2019 = cases2019[(cases2019['Data.Cases'] > 0) | (cases2019['Data.Deaths'] > 0)]
cases_deaths_2019

       Date.Day  Date.Month  ...  Location.Continent  Data.Rate
10848        31          12  ...                Asia        0.0

[1 rows x 10 columns]

##**3. Data Preparation:**

###**Data Integration:**

###**Data Wrangling:**

###**Feature Engineering:**

##**4. Data Modelling:**

## **5. Evaluation:**

##**6. Deployment:**

## **Challenges:**

The Covid situation is a very sensitive topic and every nation has dealt with it in a different manner, hence we can only advice based on their records. 

* Humans are very much irrational with **Cognitive bias**. And this has been the foundation of their reactions to Covid. Hence it is impossible to dictate what people can or will do.
* There is a constant **clash of interest** with how to handle the pandemic.
 - Financial specialist: **economy** suffers with lockdowns
 -  Health professionals consider the worth of **human life** which requires the stop of spreading
* Our **data** also is **limited** in the sense that we lack information about:
 - Covid variations 
 - number of vaccinated and it's effectiveness in the population 
 - any quarantine, lock-downs 

* Due to the very **limited time** constraint and extremely **small group** (of 2) we had to:
 - **disregard** certain situations
    * The number of cases can differ based on population size

 - make **assumptions**
    * geographic Regions (Island vs Continent) have the same conditions