<a href="https://colab.research.google.com/github/raulFuzita/cct_data_visualisation_communication/blob/CA1/DVC_CA_Marina.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Visualization and Communication CA

*Lecturer:* Marina

*Students*

.   Fatime Reisenleitner - id: 2020491 

.   Raul Macedo Fuzita - id: 2018337

Hi Guys! :P

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("https://corgis-edu.github.io/corgis/datasets/csv/covid/covid.csv")

In [ ]:
df.head()

   Date.Day  Date.Month  ...  Location.Continent  Data.Rate
0        14          12  ...                Asia   9.013779
1        13          12  ...                Asia   7.052776
2        12          12  ...                Asia   6.868768
3        11          12  ...                Asia   7.134266
4        10          12  ...                Asia   6.968658

[5 rows x 10 columns]