<a href="https://colab.research.google.com/github/raulFuzita/cct_data_visualisation_communication/blob/CA2/raul_fuzita_AI_DV_DP_ICA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# BSc (Hons) in Computing in IT (4th Yr)

## Data Exploration & Preparation - CA

Lecturer: Dr. Muhammad Iqbal

Student Name: Raul Macedo Fuzita

Student ID: 2018337

## Importing All the Necessary Packages for This project <font color="red">(Important)</font>

In [1]:
#@markdown ðŸ‘ˆ Please, run this cell to import the following libraries: `packages`.

#@markdown If one of these packages are not imported you will experience errors and failures. You must install these packages.

import pandas as pd               # Pandas allows multi-dimensional arrays. It's usefull for machine learning, data analysis, and data science
import numpy as np                # Numpy provides function to work with arrays, domain of linear algebra, fourier transformation, and matrices (w3school, NumPy Introduction)
import matplotlib as mpl
import matplotlib.pyplot as plt   # Matplotlib is a low level graph plotting library in python that serves as a visualization utility (w3school, Matplotlib Tutorial). 
import seaborn as sns             # Seaborn allows you to plot 
import ipywidgets as widgets
import statistics as sts
import datetime as dt
import calendar
import altair as alt
import plotly.express as px

from datetime import date

## Importing the data set <font color='red'>(Important)</font>

In [2]:
#@markdown ðŸ‘ˆ Please, run this cell to import the data set from a source available at [https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/]("https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/)

df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/forest-fires/forestfires.csv")

#@markdown If the data set is imported correctly you should see the five first rows.
df

     X  Y month  day  FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    7  5   mar  fri  86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    7  4   oct  tue  90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    7  4   oct  sat  90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    8  6   mar  fri  91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    8  6   mar  sun  89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..  .. ..   ...  ...   ...    ...    ...   ...   ...  ..   ...   ...    ...
512  4  3   aug  sun  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  2  4   aug  sun  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  7  4   aug  sun  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  1  4   aug  sat  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  6  3   nov  tue  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 13 columns]

### Analyse the data, select appropriate visualisations to summarise the data before cleaning it and perform the same visualisations after data cleaning. Summarise any differences that you discover. Briefly explain the advantages of preparing the data for further analysis in terms of graphic presentation.

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 517 entries, 0 to 516
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   X       517 non-null    int64
 1   Y       517 non-null    int64
 2   month   517 non-null    object
 3   day     517 non-null    object
 4   FFMC    517 non-null    float64
 5   DMC     517 non-null    float64
 6   DC      517 non-null    float64
 7   ISI     517 non-null    float64
 8   temp    517 non-null    float64
 9   RH      517 non-null    int64
 10  wind    517 non-null    float64
 11  rain    517 non-null    float64
 12  area    517 non-null    float64
dtypes: float64(8), int64(3), object(2)
memory usage: 52.6+ KB

In [4]:
df.describe()

                X           Y        FFMC  ...        wind        rain         area
count  517.000000  517.000000  517.000000  ...  517.000000  517.000000   517.000000
mean     4.669246    4.299807   90.644681  ...    4.017602    0.021663    12.847292
std      2.313778    1.229900    5.520111  ...    1.791653    0.295959    63.655818
min      1.000000    2.000000   18.700000  ...    0.400000    0.000000     0.000000
25%      3.000000    4.000000   90.200000  ...    2.700000    0.000000     0.000000
50%      4.000000    4.000000   91.600000  ...    4.000000    0.000000     0.520000
75%      7.000000    5.000000   92.900000  ...    4.900000    0.000000     6.570000
max      9.000000    9.000000   96.200000  ...    9.400000    6.400000  1090.840000

[8 rows x 11 columns]

In [12]:
df.iloc[:,4:13]

     FFMC    DMC     DC   ISI  temp  RH  wind  rain   area
0    86.2   26.2   94.3   5.1   8.2  51   6.7   0.0   0.00
1    90.6   35.4  669.1   6.7  18.0  33   0.9   0.0   0.00
2    90.6   43.7  686.9   6.7  14.6  33   1.3   0.0   0.00
3    91.7   33.3   77.5   9.0   8.3  97   4.0   0.2   0.00
4    89.3   51.3  102.2   9.6  11.4  99   1.8   0.0   0.00
..    ...    ...    ...   ...   ...  ..   ...   ...    ...
512  81.6   56.7  665.6   1.9  27.8  32   2.7   0.0   6.44
513  81.6   56.7  665.6   1.9  21.9  71   5.8   0.0  54.29
514  81.6   56.7  665.6   1.9  21.2  70   6.7   0.0  11.16
515  94.4  146.0  614.7  11.3  25.6  42   4.0   0.0   0.00
516  79.5    3.0  106.7   1.1  11.8  31   4.5   0.0   0.00

[517 rows x 9 columns]

In [14]:
#sns.pairplot(df.iloc[:,4:13])

### Use more than one interactive visualisation to highlight any impact that forest fire has on the environment. You are required to use additional data and merge it with the dataset provided to complete this task.

### Use statistical visualisations to describe and identify different aspects of the data (e.g., median, outliers, probabilistic histogram, etc...).

### Compare and contrast at least two different visualisation libraries that you used to complete the tasks of this assignment. Detail the differences and/or similarities between these libraries. Rationalise your design choices such as colour selection, font size, use of white spaces, etc...

### Pick a target audience of your choice, design your visualizations with this audience in mind.

### Include final visualisations relevant to the fire officers to illustrate your findings

### References